.fa-mobile-phone{
    padding-left: 50px;
}


.navbar {
    background-color: #008080;
  }
  .navbar .navbar-brand {
    color: #ffffff;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #e5e5e5;
  }
  .navbar .navbar-text {
    color: #ffffff;
  }
  .navbar .navbar-text a {
    color: #e5e5e5;
  }