<html>
<div style="height: 50vh; width: 100vw;">
    <table style="table-layout: fixed; white-space:nowrap; width: 100vw; margin-left: auto; margin-right: auto;">
        <tbody>
            <tr>
                <td style="padding: 30px;">
                </td>
            </tr>
            <tr>
                <td style="padding: 10px;">
                    <a href="https://www.mkfoam.pl/promocje" target="_blank">
                        <img class="img" src="https://www.mkfoam.pl/images/stories/promocje/kwiecien2019/1/1000.jpg" style="width: 100%; border:5px solid #008080;">
                    </a>
                </td>
                <td style="padding: 10px;">
                    <a href="https://www.mkfoam.pl/promocje" target="_blank">
                        <img class="img" src="https://www.mkfoam.pl/images/stories/promocje/marzec2019/lozko81271.jpg" style="width: 100%; border:5px solid #008080;">
                    </a> </td>
                <td style="padding: 10px;">
                    <a href="https://www.mkfoam.pl/promocje" target="_blank">
                        <img class="img" src="https://www.mkfoam.pl/images/stories/promocje/marzec2019/zestaw81271.jpg" style="width: 100%; border:5px solid #008080;">
                    </a> </td>
            </tr>
            <tr>
                    <td style="padding: 20vh;"></td>
                </tr>

        </tbody>
    </table>
</div>
<div style="height: 20vh; width: 100vw;">
    <table style="table-layout: fixed; white-space:nowrap; width: 50vw; margin-left: auto; margin-right: auto;">
        <tbody>
            <tr>
                <td style="padding: 10px;" >
                    
                <img class="img" [src]="srcShop"
                style="width: 100%; border:5px solid #008080; margin-left: auto;
                margin-right: auto;">
                </td>
                
            </tr>
        </tbody>
    </table>
</div>




<div  *ngIf="checkIfShopIsOpened()">
        <div class="alert alert-success" role="alert" 
        style="border: 0px; background-color: rgba(169, 255, 129, 0.39); text-align: center;">
                <b style="color: #265300;">{{getOpenedMessage()}}</b>
            </div>
</div>

<div *ngIf="!checkIfShopIsOpened()">
        <div class="alert alert-success" role="alert" 
        style="border: 0px; background-color: rgba(255, 129, 129, 0.39); text-align: center;">
                <b style="color: #530000;">{{getClosedMessage()}}</b>
            </div>
</div>
</html>
