<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Meble Wiola</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Strong Główna</a>
      <a class="nav-item nav-link" href="#">Realizacje</a>
      <a class="nav-item nav-link" href="#">Oferta</a>
      <a class="nav-item nav-link" href="#">Kontakt</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" id="facebooklogo" href="https://www.facebook.com/WiolaSroda" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="nav-item nav-link" id="mapslogo" href="https://goo.gl/maps/BvP2dR8hSwy" target="_blank">
        <i class="fa fa-map-marker"></i>
      </a>
    </div>
  </div>
</nav>