<nav class="navbar navbar-custom fixed-top">
  <a class="navbar-brand" href="/">Meble Wiola</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/#/home">Strona Główna</a>
      
      <!--
        <a class="nav-item nav-link" href="/#/realizacje">Realizacje</a>
      -->
      <a class="nav-item nav-link" href="/#/oferta">Oferta</a>
      <a class="nav-item nav-link" href="/#/kontakt">Kontakt</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" id="facebooklogo" href="https://www.facebook.com/WiolaSroda" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="nav-item nav-link" id="mapslogo" href="https://goo.gl/maps/asEJjvo9mau" target="_blank">
        <i class="fa fa-map-marker"></i>
      </a>
    </div>
  </div>
</nav>