<html>

  <table style="padding: 40px; margin-top: 49px;">
      <tbody>
        <tr>
            <td style="padding: 10px;"></td>
        </tr>
        <tr>
          <td style="padding: 10px;">
              <div class="kolocontainer">
                  <img class="koloimg" src="./assets/Media/frame.png" style="width: 100%; transform:rotate(0deg);">
                </div>
          </td>          
          <td style="padding: 10px;">
              <div class="kolocontainer">
                  <img class="koloimg" src="./assets/Media/frame.png" style="width: 100%; transform:rotate(0deg);">
                </div>
          </td>
          <td style="padding: 10px;">
              <div class="kolocontainer">
                  <img class="koloimg" src="./assets/Media/frame.png" style="width: 100%; transform:rotate(0deg);">
                </div>
          </td>
        </tr>
        <tr>
            <td style="padding: 10px;">
                <div class="kolocontainer">
                    <img class="koloimg" src="./assets/Media/frame.png" style="width: 100%; transform:rotate(0deg);">
                  </div>
            </td>          
            <td style="padding: 10px;">
                <div class="kolocontainer">
                    <img class="koloimg" src="./assets/Media/frame.png" style="width: 100%; transform:rotate(0deg);">
                  </div>
            </td>
            <td style="padding: 10px;">
                <div class="kolocontainer">
                    <img class="koloimg" src="./assets/Media/frame.png" style="width: 100%; transform:rotate(0deg);">
                  </div>
            </td>
          </tr>
      </tbody>
    </table>
</html>